input[type="date"].tutopiya-meta-field {
  border-radius: 0px;
  width: 100%;
  height: 50px;
}

input[type="text"].tutopiya-meta-field {
  border-radius: 0px;
  width: 100%;
  height: 50px;
}

/* input[type="checkbox"].tutopiya-meta-field {
  border-radius: 2px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
} */
