/* admin-style.css */
.tutopiya-input {
  border-radius: 0 !important;
  border: 1px solid #ccd0d4;
  box-shadow: none;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.input-error {
  border: 1px solid red !important;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}
